version: "3.9"

services:
  backend:
    container_name: backend
    build:
      context: ..
      dockerfile: docker/Dockerfile
    env_file:
      - .env
    ports:
      - "8080:8080"
    restart: always
