spring:
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
  datasource:
    url: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

ncp:
  storage:
    region: ${NCP_REGION}
    endpoint: ${NCP_ENDPOINT}
    accessKey: ${NCP_ACCESS_KEY}
    secretKey: ${NCP_SECRET_KEY}
    bucket: ${NCP_BUCKET}
